
:root {
    --padding-left-right: 1.2em;
}

html {
  overflow-x: hidden;
}

body {
  font-family: Consolas, Arial, sans-serif;
  padding: 0 0 2rem 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

table {
  text-align: left;
  position: relative;
  border-collapse: collapse;
}

table tr {
  box-shadow: -1px 6px 4px 2px #d9d9d9;
  top: -10px;
}

.other-diff .sticky {
  position: fixed;
}

#other table tr {
  width: 50%;
  position: relative;
}

#other .sticky-header {
  display: table-cell;
  width: 50%;
  z-index: 10;
  transition: all .35s ease-in-out;
}

#other .sticky-header:nth-child(2) {
  left: 50%;
}

th, td {
  padding: 0.25rem;
}

tr.red th {
  background: red;
  color: white;
}

tr.green th {
  background: green;
  color: white;
}

tr.purple th {
  background: purple;
  color: white;
}

textarea,
pre {
  font: normal 14px Consolas, Arial, sans-serif;
  background-color: white;
  color: black;
}

pre {
  padding-top: 4em;
  margin: 0;
  overflow-x: scroll;
}

textarea {
  resize: none;
}

.sticky-header {
  position: sticky;
  top: 0;
  padding: 1em;
  border-bottom: 1px solid lightgrey;
  background: white;
}

.left:focus-visible {
  outline-color: #ff0202;
  z-index: 2;
}

.right:focus-visible {
  outline-color: #01ff01;
  z-index: 2;
}

.special-header {
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 0;
  margin-bottom: 0;
}

.cf-white { color: white; }
.cb-red { background-color: #ff634742; }
.cb-green { background-color: #adff2f54; }
.diff {
  width: 100%;
  padding: 1em 0;
  border: 1px solid lightgrey;
  overflow-x: hidden;
}
.diff-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  word-wrap: break-word;
  overflow: scroll;
}
.diff-table-cell {
  vertical-align: baseline;
  overflow: scroll;
}
.right, .left,
.overflow { overflow: scroll; }
.right, .left {
  width: 100%;
}

.nav-menu {
    padding: var(--padding-left-right, 1.2em);
}

.first {
  margin-bottom: 4em;
}

#left, #right {
  height: 76vh;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

input[type="button"],
button,
.btn {
  cursor: pointer;
}

.other-diff,
.btn {
  font-weight: bold;
  text-decoration: none !important;
  padding: 0.4em 1.2em;
  border-radius: 3px;
  color: #000000;
}

.underline {
  position: relative;
}

.underline::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 4px;
  background-color: #000000;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}

.scrollToTopBtn {
  /* position: fixed; */
  opacity: 0;
  right: 17px;
  bottom: 1.4em;
  text-decoration: none;
  font-weight: bold;
  padding: 1em;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  background: lightgrey;
  color: white;
  transition: all .35s ease-in-out;
}

.scrollToTopBtn:hover {
  background-color: black;
  color: greenyellow;
}

.scrollToTopBtn.sticky {
  opacity: 1;
}
